

#button-link {
    position: relative;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 3em;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
    height: 75px;
    
    background-color: rgb(76,140,76); /* Light */
    background-color: rgb(76,140,76); /* Dark */
  }
  
  a div[class^="wave-"] {
    position: absolute;
    z-index: 0;
    height: 200px;
    width: 200px;
    
  /*  Couldn't decide on the border-radius  */
  /*   border-radius: 44% 84% 63% 74% / 20% 80% 20% 73%; */
  /*   border-radius: 44% 100% 63% 74% / 20% 75% 71% 73%; */
    border-radius: 47%;
    
    opacity: .5;
  /*  NOTE: Took out the fade in for the pen  */
    /*  Fade in to improve(?) accessibility  */
  /*   opacity: 0; */
  /*   transition: opacity 1.5s ease-in-out; */
    
  }
  
  /* a:hover div[class^="wave-"] {
    opacity: .2;
  } */
  
  a div.wave-1 {
    background-color: green;
    left: 85px;
    bottom: -10px;
    transform: rotate(20deg);
  }
  
  a div.wave-2 {
    background-color: green;
    top: -10px;
    transform: rotate(180deg);
    right: 100px;
  }
  
  span {
    position: relative; /*Brings the text to the top;*/
  }
  
  a:hover .wave-1 {
    animation: wave-1 6s infinite linear;
  }
  
  a:hover .wave-2 {
    animation: wave-2 6s infinite linear;
  }
  
  @keyframes wave-1 {
    0% {
      transform: rotate3d(0,0,1,20deg);
    }
    
    50% {
      transform: rotate3d(0,0,1,200deg);
      
    }
    
    100% {
      transform: rotate3d(0,0,1,380deg);
    }
  }
  
  @keyframes wave-2 {
    0% {
      transform: rotate3d(0,0,1,180deg);
    }
    
    50% {
      transform: rotate3d(0,0,1,0deg);
      right: 110px;
    }
    
    100% {
      transform: rotate3d(0,0,1,-180deg);
    }
  }