

#main-jumbotron{
    margin: auto;
    width: 80%;
    padding: 10px;
    max-width: 1600px;
}

#main-nav{
    margin: auto;
    width: 80%;
    padding: 10px;
    max-width: 1600px;
}

.main.body{
    margin: auto;
    width: 80%;
    padding: 0px;
    max-width: 400px;
}

#bookmarkme{
    color: black
}

#bookmarkme:hover{
    color:green;
}

.gg-chevron-right {
    box-sizing: border-box;
    position: relative;
  
    transform: scale(var(--ggs,1));
    width: 25px;
    height: 25px;
    border: px solid transparent;
    border-radius: 100px
   }
   
   .gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 4px;
    top: 2px
   } 

