#main-jumbotron{
    margin: auto;
    width: 80%;
    padding: 10px;
    max-width: 1600px;
}

#main-nav{
    margin: auto;
    width: 80%;
    padding: 10px;
    max-width: 1600px;
}

.main.body{
    margin: auto;
    width: 80%;
    padding: 0px;
    max-width: 400px;
}

#bookmarkme{
    color: black
}

#bookmarkme:hover{
    color:green;
}


