#main-jumbotron{
    margin: auto;
    width: 80%;
    padding: 10px;
}

#main-nav{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.main.body{
    margin: auto;
    width: 80%;
    padding: 0px
}


